.container{
    background-color:rgb(0, 0, 0);
    display: grid;
    height:97vh;
    grid-template-columns:1.5fr 2fr 2fr 2fr;
    grid-template-rows: 12fr 45fr 40fr 17fr;
    gap:5px;
    grid-template-areas: 
    "nav main main main"  
    "nav div1 div2 div3 "
    "nav footer footer footer";
}
#nav{
    background-color:darkmagenta ;
    grid-area: nav;
}
#main{
    background-color:yellow ;
    grid-area: main;
}
#div1{
    background-color:purple;
    grid-area: div1;
}
#div2{
    background-color:teal;
    grid-area: div2;
}
#div3{
    background-color:lightseagreen;
    grid-area: div3;
}
#footer{
    background-color:palevioletred;
    grid-area: footer;
}